

<%= content_for(:navbar_class, "project-home") %>



<div class="big-container">

  <div class="bground">
  <!--div close bground-->
  </div>

  <div class = "project-container">
    <!-- <h1>Mes projets</h1> !-->
        <h1 class=text-center>Mes Projets</h1>

        
        
      <div class="project">
        <% @projects.each do |project| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80)">


            <li>
            <%= link_to project, class: "card-title" do %>
            <%= project.title %></li>
            <% end %>

            <div class="icons">
            
            <%= link_to project, class: "text" do %>
            <i class="far fa-eye"></i>
            <% end %>

            <% if policy(project).edit? %>

            <%= link_to edit_project_path(project), class: "text" do %>
            <i class="far fa-edit"></i>
            <% end %>

            <%= link_to project, method: :delete, data: { confirm: 'Êtes-vous sûr-e ?' }, class: "text" do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
            <% end %>
            </div>
            </div>

            <% end %>




          <!--div close projet-->
          </div>

          <% if policy(Project).create? %>
          <p><%= link_to 'Créer un nouveau projet', new_project_path, class: "btn btn-dark" %></p>
          <% end %>


    <!--div close project container-->
     </div>

<!--close-big-container-->
</div>

