

<div class="pr-content">
<h1>Mes projets</h1>

<ul>
  <% @projects.each do |project| %>
  <li><%= project.title %></li>
  <%= link_to 'Voir', project %>
    <% if policy(project).edit? %>
      <%= link_to 'Modifier', edit_project_path(project) %>
      <%= link_to 'Détruire', project, method: :delete, data: { confirm: 'Êtes-vous sûr-e ?' } %>
    <% end %>
  <% end %>
</ul>
<% if policy(Project).create? %>
  <p><%= link_to 'Créer nouveau projet', new_project_path, class: "btn btn-dark" %></p>
<% end %>
</div>

