

<%# <%= content_for(:navbar_class, "project-home") %> 



<%# <div class="banner"> %>
  


    <h1 class="inspire-title">INSPIRE</h2>

    <h2 class="inspire-subtitle">Stay cool, you're Inspired...</h2>
  <%# <div class="bground"> %>
  <!--div close bground-->
  <%# </div> %>

  <%# <div class = "project-container"> %>
    <!-- <h1>Mes projets</h1> !-->

        
    <div class="container">    

      <div class="project">

        <% @projects.each do |project| %>
          <div class="card-category">


            <li>
            <%= link_to project, class: "card-title" do %>
            <%= project.title %>
            <% end %>

            <div class="icons">
            
            <%= link_to project, class: "text" do %>
            <i class="far fa-eye"></i>
            <% end %>

            <% if policy(project).edit? %>

            <%= link_to edit_project_path(project), class: "text" do %>
            <i class="far fa-edit"></i>
            <% end %>

            <%= link_to project, method: :delete, data: { confirm: 'Êtes-vous sûr-e ?' }, class: "text" do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
            <% end %></li>
            <%# </div> %>
          </div>

        <% end %>




          <!--div close projet-->
      </div>
          

       <% if policy(Project).create? %>
          <p><%= link_to 'Créer un nouveau projet', new_project_path, class: "btn btn-ghost" %></p>
  <% end %>
     


    <!--div close project container-->
     <%# </div> %>

<!--close-big-container-->
  </div>
<%# </div> %>




