<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
  <li><%= project.title %></li>
  <%= link_to 'Show', project %>
    <% if policy(project).edit? %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</ul>
<% if policy(Project).create? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>


