<div class="pr-content">

<h1><%= @project.title %></h1>

<p></p>
<ul>
<% @project.texts.each do |text| %>
      <li><%= text.title %></li>
      <%= link_to 'Voir |', sekret_text_path(text) %>
      <%= link_to 'Modifier |', edit_sekret_text_path(text) %>
      <!-- %= link_to 'Edit', edit_project_text_path(@project) %> -->
      <%= link_to 'Détruire |', text, method: :delete, data: { confirm: 'Êtes-vous sûr-e ?' } %>
<% end %>
</ul>


<% if @project.bands.length > 0 %>
<p><%= link_to 'Edit Band ', search_project_bands_path(@project) %></p>
<% else %>
<p><%= link_to 'New Band ', new_project_band_path(@project) %></p>
<% end %>
<p><%= link_to 'New Text ', new_project_text_path(@project) %></p>
<p><%= link_to 'Back ', projects_path %></p>
</div>




