<%= simple_form_for [@project, @band] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, :label => "Nom" %>
    <%= f.input :user, as: :check_boxes, :label => "Membres", collection: @emails, input_html: { multiple: true }, include_hidden: false %>
    <%= f.input :write_acces, as: :boolean, label: 'Autoriser la modification du texte ?' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sauvegarder", class: "btn btn-dark" %>
  </div>
<% end %>