<%= content_for(:navbar_class, "project-login") %>

<%= simple_form_for [@project, @text] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="text-editor">

  <div class="form-inputs">
    <%= f.input :title, label: "Titre" %>
    <%= f.rich_text_area :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sauvegarder", class: "btn btn-dark" %>
  </div>

  </div>

<% end %>

